<div class="main-container">
  <div class="main-hero">
    <h1 class="brand_name ">PIZZA SHOP</h1>
    <app-navbar></app-navbar>
    <pizza-list></pizza-list> 
  </div>
</div>


<!-- [pizzas] = "myPizzas" -->