.main-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(25, 26, 26, 0.7), rgba(25, 26, 26, 0.7)), URL("assets/images/pizza.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 100%;
    align-content: center;
    overflow: auto;
}

.brand_name {
    margin-top: .5em;
    margin-bottom: .3em;
    text-align: center;
    align-self: center;
    font-size: 100px;
    color: white;
}