<p>
  <mat-form-field>
    <mat-select [formControl]="ingredientServerSideCtrl" placeholder="Ingredient">
      <mat-option>
        <ngx-mat-select-search placeholderLabel="Find ingredient..." 
        noEntriesFoundLabel="'no matching ingredient found'"
        [formControl]="ingredientServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let ingredient of filteredServerSideIngredients | async" [value]="ingredient">
        {{ingredient}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="btn btn-dark" (click)="add(ingredientServerSideCtrl.value)">Add</button>
</p>

