.button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 3px;
    cursor: pointer;
    border-radius: 16px;
  }

.button:hover {
    background: gray;
    
  }

