<div class="navbar">
    <label class="text-header">Choose your ingredients!</label>
    <div class="checkboxContainer">
        <div class="checkboxNoMeatFasting">
            <p>No Meat </p>
            <mat-checkbox (change)="onChangeCheckbox()" [(ngModel)]="isCheckedNoMeat"></mat-checkbox>
            <!-- <input class="form-check-input checkboxNoMeat" type="checkbox" >> -->
        </div>
        <div class="checkboxNoMeatFasting">
            <p>Fasting </p>
            <mat-checkbox (change)="onChangeCheckbox()" [(ngModel)]="isCheckedFasting"></mat-checkbox>
            <!-- <input class="form-check-input checkboxFasting" type="checkbox" >> -->
        </div>
    </div>
    <div class="option-container">
        <div class="container">
            <label class="text-want">WANT</label>
            <div class="fillset">
                <div class="selected-ingredients-container">
                    <div class="options-container" *ngIf = "wantIngredients">
                        <div class="proba" *ngFor="let ingredient of wantIngredients | async">
                            <app-ingredient-pill-button [ingredient]="ingredient" [group]=1 *ngIf = "ingredient"></app-ingredient-pill-button>
                        </div>
                    </div>
                    <!-- <input type="text"  placeholder="What ingredients do you want?" class="form-control input-want"> -->
                    <ingredient-search [group]=1></ingredient-search>
                </div>
            </div>
        </div>
        <div class="container">
            <label class="text-dontwant">DON'T WANT</label>
            <div class="fillset">
                <div class="selected-ingredients-container">
                    <div class="options-container" *ngIf = "dontWantIngredients">
                        <div  class="proba" *ngFor="let ingredient of dontWantIngredients | async">
                            <app-ingredient-pill-button [ingredient]="ingredient" [group]=2 *ngIf = "ingredient"></app-ingredient-pill-button>
                        </div>
                    </div>
                    <!-- <input type="text" placeholder="What ingredients you don't want?" class="form-control input-dont-want"> -->
                    <ingredient-search [group]=2></ingredient-search>
                </div>
            </div>
        </div>
    </div>
</div>
  

