.navbar {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    opacity: 100%;
}
.text-header {
    font-family: "Lucida Sans";
    font-size: 30px;
    color: black;
    padding: 10px;
}
.text-want {
    font-family: "Lucida Sans";
    font-size: 25px;
    color: green;
}   

.text-dontwant {
    font-family: "Lucida Sans";
    font-size: 25px;
    color: firebrick;
}

.option-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.options-container {
    /* height: auto;
    width: 100%; */
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    /* margin: 5px; */
    /* background-color: lightgray; */
    /* border: none;
    color: black; */
    /* border-radius: 16px; */
}

.proba {
    display: flex;
    /* height: auto;
    width: auto; */
}

.selected-ingredients-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    background-color: lightgray;
    border: none;
    color: black;
    border-radius: 16px;
}

.option {
    margin: auto;
    cursor: pointer;
    font-family: "Lucida Sans";
    font-size: 25px;
    color: black;

}

.optionWindow {
    height: auto;
    width: 100%;
}

.checkboxNoMeatFasting {
    display: flex;
    flex-direction: row;
    margin-left: 10px;

}

.checkboxContainer {
    display: flex;
    flex-direction: row;
}