
<div class="container" *ngIf="pizza">

    


    <img src="{{pizza.image}}"/>
    <h3> {{ pizza.name }} </h3>
    <p class="ingredients"> {{ pizzaIngredients }} </p>
    <p> {{ "Calories: " + pizzaCalories  }}</p>
    <div> 
        <div class="nemaMesaPosna" *ngIf="posna"> 
            <p>{{ "Fasting " }} </p>
            <fa-icon class="icon checkIcon" [icon]="faCheckSquare"></fa-icon>
        </div>
        <div class="nemaMesaPosna" *ngIf="!imaMesa"> 
            <p>{{ "No Meat" }}</p>
            <fa-icon class="icon checkIcon" [icon]="faCheckSquare"></fa-icon>
        </div>
    </div>
    <h3> {{ "$" + pizza.price.toPrecision(2)  }}</h3>
</div>



