.container {
    display: flex;
    margin: 30px;
    height: auto;
    width: 300px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
h3{
    font-family: "Lucida Sans";
}

img {
    height: 200px;
    width: auto;
    max-width: 290px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ingredients {
    text-align: center;
}

.nemaMesaPosna {
    font-family: "Lucida Sans";
    display: flex;
    flex-direction: row;
}

.checkIcon {
    margin-left: 5px;
    color: green;
}
